
<!DOCTYPE html>
<html ng-app="app" ng-csp="">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">


<style>
  .tab-content{
    color: #222;
    font: 400 14px/18px "Merriweather";
    text-indent: 14px;
  }
  .midnews{
    padding-top: 10px;
  }
  span.midnews-date{
    color:gray;
  }
  .tabbable {
width: 500px;
padding: 11px;
}
</style>
  

</head>
<body>
  <div >
  <tabs>
    <pane title="Worldnews">
      <div ng-controller="NewsController">
        <div data-read={{newstory}} ng-repeat="newstory in allnews | orderBy:predicate_:ascorder" class="midnews">
          &dash; <a class="midnews-text" href={{newstory.url}} target="_blank" >{{newstory.title}}</a> &mdash; <span class="midnews-date">{{newstory.created*1000 | date:'fullDate'}}</span>
        </div>
      </div>
    </pane>
    <pane title="Breakingnews">
      <div ng-controller="BreakingNewsController">
        <div data-read={{newstory}} ng-repeat="newstory in allbreakingnews | orderBy:predicate:ascorder" class="midnews">
          &dash; <a class="midnews-text" href={{newstory.url}} target="_blank" >{{newstory.title}}</a> &mdash; <span class="midnews-date">{{newstory.created*1000 | date:'fullDate'}}</span>
        </div>
      </div>
    </pane>
  </tabs>
</div>
<script src="angular.min.js"></script>
  <script src="app.js"></script>
</body>


</html>

